body {
	background: url(confectionary.png);
}

.button {
	position: relative;
	display: block;
	margin: 150px auto;
	width: 190px;
	height: 40px;
	line-height: 40px;
	background: #444;
	color: #eee;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;

	border-bottom: 7px solid #b52424;
	border-radius: 3px;
	border-bottom-left-radius: 7px 14px;
	border-bottom-right-radius: 7px 14px;

	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,ce4242+100 */
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #ce4242 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#ce4242)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#ce4242 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#ce4242 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#ce4242 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#ce4242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#ce4242',GradientType=0 ); /* IE6-9 */

}

.button:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ce4242+0,ff3019+100 */
	background: #ce4242; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce4242 0%, #ff3019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce4242), color-stop(100%,#ff3019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce4242 0%,#ff3019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce4242 0%,#ff3019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce4242 0%,#ff3019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce4242 0%,#ff3019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4242', endColorstr='#ff3019',GradientType=0 ); /* IE6-9 */
}

.button:after, .button:before {
	content: '';
	position: absolute;
}

.button:before {
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 3px;
	border-top: none;

	width: 188px;
	height: 39px;
	left: 0;
	top: 0;
	box-shadow: 0 0 10px rgba(255,255,255,0.1) inset;

}

.button:active {
	border: none;
	border-bottom: 1px solid #b52424;
	bottom: -7px;
	box-shadow: none;
	border-radius: 3px;
	width: 178px;
}

.button:active:before {
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0, 0.2) inset;
	width: 178px;
}